# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.swp

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Build
target/
build/
out/
bin/
.gradle/

# JMH
jmh-result.*

# JFR
*.jfr

# Logs
*.log
